fastapi
uvicorn
langchain==0.3.25
langchain-groq
langchain-community
langchain-chroma
langchain-core==0.3.84
langchain-text-splitters
chromadb
pypdf
sentence-transformers
sqlalchemy
pymysql
python-dotenv
langsmith