<div class="page">

  <div class="card">

    <!-- HEADER EVENT -->
    <div class="event-header">

      <div>
        <h2>{{ event?.title }}</h2>
        <p>📍 {{ event?.lieu }}</p>
      </div>

      <div class="price">
        {{ event?.price }} TND
      </div>

    </div>

    <!-- IMAGE -->
    <img *ngIf="event?.image" [src]="event.image" class="event-img"/>

    <!-- ERROR MESSAGE -->
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

    <!-- FORM -->
    <div class="form-container">

      <h3>Reservation Form</h3>

      <!-- IMPORTANT -->
      <form [formGroup]="reservationForm" (ngSubmit)="pay()">

        <div class="grid">
          
          <!-- FIRST NAME -->
          <div>
            <input type="text" placeholder="First Name" formControlName="firstName">
            <small *ngIf="f.firstName.touched && f.firstName.invalid">
              First name must be at least 3 characters
            </small>
          </div>

          <!-- LAST NAME -->
          <div>
            <input type="text" placeholder="Last Name" formControlName="lastName">
            <small *ngIf="f.lastName.touched && f.lastName.invalid">
              Last name must be at least 3 characters
            </small>
          </div>

        </div>

        <!-- EMAIL -->
        <div>
          <input type="email" placeholder="Email" formControlName="email">
          <small *ngIf="f.email.touched && f.email.invalid">
            Enter a valid email
          </small>
        </div>

        <!-- PAYMENT -->
        <label>Payment Method</label>
        <div class="payment">

          <label>
            <input type="radio" formControlName="paymentMethod" value="CARD">
            💳 Card
          </label>

          <label>
            <input type="radio" formControlName="paymentMethod" value="CASH">
            💵 Cash
          </label>

        </div>

        <!-- BUTTON -->
        <button type="submit" class="btn" [disabled]="isLoading">
          {{ isLoading ? 'Processing...' : ('Pay ' + event?.price + ' TND') }}
        </button>

        

      </form>
      <!-- ✅ STRIPE POPUP OUTSIDE FORM -->
<app-stripe-payment
  *ngIf="showStripe"
  [reservationId]="reservationId"
  [amount]="event?.price"
  (close)="closeStripe()">
</app-stripe-payment>
<!--<app-stripe-payment
  *ngIf="showStripe"
  [eventId]="eventId"
  [amount]="event?.price"
  (close)="closeStripe()">
</app-stripe-payment>-->

    </div>

  </div>

</div>