<div class="review-card">

  <h2>⭐ Leave a Review</h2>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <textarea [(ngModel)]="comment"
            placeholder="Write your experience..."></textarea>

  <div class="stars">
    <span *ngFor="let star of [1,2,3,4,5]"
          (click)="setRating(star)"
          (mouseover)="hoverRating = star"
          (mouseleave)="hoverRating = 0"
          [class.active]="star <= rating"
          [class.hover]="star <= hoverRating">
      ★
    </span>
  </div>

  <p>{{ rating }}/5</p>

  <button (click)="submitReview()">
    Submit Review
  </button>

</div>